body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

.container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-container {
    border: 10px solid black;
    background-color: black;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    grid-column: 1 / -1;
    background-color: #dcdcdc;
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
}

/* Establish layout for each row */
.row-one,
.row-two,
.row-three,
.row-four {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.row-five {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.btn {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 30px;
    font-size: xx-large;
    font-family: 'Free Mono', monospace;
    font-weight: 900;
    outline: none;
}

.btn:hover {
    opacity: 90%;
}

.sign {
    display: flex;
    justify-content: center;
}

.divide,
.multiply,
.subtract,
.addition,
.equals {
    background-color: #ffa550;
}

.clear,
.sign, 
.percent {
    background-color: #5f9ea0;
}

.digit,
.decimal {
    background-color: #fffff0;
}






